.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #8EB69D;
}

.ant-form {
    min-width: 320px;
    background: #fff;
    padding: 32px 24px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    /* background-color: #DAF1DE; */
}